body{   /*全局*/
    text-align: center;
    color: rgba(114,117,130,1);
    font-size: 14px;
    background-color: rgba(240,245,247,1);
    height: 805px;
}
#top{   /*顶部标题*/ 
    position: fixed;
    padding-top: 14px;
    height: 36px;
    background-color: white;
    margin-left: -8px;
    margin-top: -8px;
    z-index: 1; /*置于最顶层*/
    width: 100%;
    font-size: 15px;
}
#xq{  /*详情*/
    margin-left: 30px;
    margin-right: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;    /*下划线距离*/
    
    color: rgba(61,153,247,0.9);
    font-weight: bold;
    border-bottom: 3px solid rgba(61,153,247,0.9);
}
#hyewm{     /*核验二维码*/
    margin-left: 40px;
    margin-right: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;    /*下划线距离*/
}
#two{   /*笑脸区域*/
    background-color: white;
    height: 190px;
    width: 104%;
}
#xiaolian{   /*笑脸*/
    padding-top: 60px;
    width: 60px;
    height: 60px;
}
#sq{   /*申请已批准*/
    font-size: 16px;
    height: 50px;
    padding-top: 10px;
    color: black;
}
#seven{
    margin-top: 14px;
    background-color: white;
    font-size: 13px;
    margin-left: -8px;
    width: 104%;
    height: 270px;
}
.left_len{  /*距离左边的距离*/
    left: 22px;
}
.left_len2{
    left: 300px;
}
.left_len3{
    left: 77px;
}
.left_len4{
    left: 90px;
}
.left_len5{
    left: 103px;
}
.left_len6{
    left: 116px;
}
.left_len7{
    left: 129px;
}
.left_len8{
    left: 142px;
}
.left_len15{
    left: 233px;
}
.abs{    /*绝对定位*/
    position: absolute;
}
.lab{   /*说明文字*/
    color: rgba(170,170,170,1);
    font-size: 13px;
}
.ck{    /*查看*/
    color: rgba(61,153,247,0.9);
}
.title{     /*返校申请详情、审批流程记录*/
    font-size: 16px;
    padding-top: 20px;
}
.sffx{
    margin-top: 50px;
}
#yjfxcfsj{
    margin-top: 73px;
}
#yjfxddsj{
    margin-top: 96px;
}
.cfd{
    margin-top: 119px;
}
.czjtgj{
    margin-top: 142px;
}
.czjtgjdhccchhbh{
    margin-top: 165px;
}
.sqyy{
    margin-top: 188px;
}
.fqwz{
    margin-top: 211px;
}
.splc{
    margin-top: 234px;
}
#yjfxcfsj2{
    margin-top: 73px;
}
#yjfxddsj2{
    margin-top: 96px;
}
#nine{
    font-size: 12.5px;
    background-color: white;
    margin-left: -8px;
    width: 104%;
    margin-top: 14px;
    height: 160px;
}
#fqr{   /*发起人*/
    margin-top: 60px;
}
#spr{   /*审批人*/
    margin-top: 98px;
}
#fqsj{  /*发起时间*/
    margin-top: 60px;
    right: 20px;
}   
#spsj{  /*审批时间 */
    margin-top: 98px;
    right: 20px;
}
.quan{  /*圆圈*/
    width: 19px;
    height: 19px;
    vertical-align:middle;
}
#tg{
    color: rgba(59,207,139,1);
}
#spyj{  /*审批意见*/
    position:absolute;
    left: 48px;
    background-color: rgba(240,245,247,1);
    width: 320px;
    height: 53px;
    margin-top: 110px;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid rgba(220,220,220,1);
    border-radius: 4px;
    color: rgba(170,170,170,1);
}
